APP_NAME=clp-admin-service
NODE_ENV=development
PORT=3004
LOG_LEVEL=info
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DIALECT=postgres
DB_USER=postgres
DB_PASS=postgres
ADMIN_DB_NAME=admin_db
JWT_PUBLIC_KEY=replace-me
JWT_ALGORITHM=HS256
CLIENT_ORIGIN=http://localhost:5173
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=replace-me
MAIL_PASS=replace-me
MAIL_FROM_NAME=No Reply
MAIL_FROM_EMAIL=no-reply@example.com
