APP_NAME=clp-auth-service
NODE_ENV=development
PORT=3001
LOG_LEVEL=info
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DIALECT=postgres
DB_USER=postgres
DB_PASS=postgres
AUTH_DB_NAME=auth_db
JWT_PRIVATE_KEY=replace-me
JWT_PUBLIC_KEY=replace-me
JWT_ALGORITHM=HS256
JWT_EXPIRES_IN=15m
CLIENT_ORIGIN=http://localhost:5173
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=replace-me
MAIL_PASS=replace-me
MAIL_FROM_NAME=No Reply
MAIL_FROM_EMAIL=no-reply@example.com
FRONTEND_ADMIN_URL=http://localhost:5173/admin
FRONTEND_USER_URL=http://localhost:5173
