APP_NAME=clp-loyalty-service
NODE_ENV=development
PORT=3003
LOG_LEVEL=info
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DIALECT=postgres
DB_USER=postgres
DB_PASS=postgres
LOYALTY_DB_NAME=loyalty_db
JWT_PUBLIC_KEY=replace-me
JWT_ALGORITHM=HS256
CLIENT_ORIGIN=http://localhost:5173
INTERNAL_SERVICE_KEY=replace-me
PRODUCT_SERVICE_URL=http://localhost:3002
